<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit spot information</title>
</head>
<body>
    <form action="/spots/<%= spot._id %>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="spot[title]" value="<%= spot.title %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="spot[location]" value="<%= spot.location %>">
        </div>
        <button>Save</button>
        <a href="/spots">Cancel</a>
    </form>
</body>
</html>